---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    with open('university_towns.txt', 'r') as file:
        tod = file.readlines()
    dic = {'State': [], 'RegionName': []}
    for line in tod:
        if '[edit]' in line:
            stt = line[:line.index('[')]
            continue
        else:
            if '(' in line:
                line = line[:line.index('(')-1]
            else:
                line = line.strip()
            dic['State'].append(stt)
            dic['RegionName'].append(line)
    df = pd.DataFrame(dic, columns=['State', 'RegionName'])    
    return df
# get_list_of_university_towns()#.groupby('State').size()
# import re
# import pandas as pd
# import numpy as np
# # list of unique states
# stateStr = """
# Ohio, Kentucky, American Samoa, Nevada, Wyoming
# ,National, Alabama, Maryland, Alaska, Utah
# ,Oregon, Montana, Illinois, Tennessee, District of Columbia
# ,Vermont, Idaho, Arkansas, Maine, Washington
# ,Hawaii, Wisconsin, Michigan, Indiana, New Jersey
# ,Arizona, Guam, Mississippi, Puerto Rico, North Carolina
# ,Texas, South Dakota, Northern Mariana Islands, Iowa, Missouri
# ,Connecticut, West Virginia, South Carolina, Louisiana, Kansas
# ,New York, Nebraska, Oklahoma, Florida, California
# ,Colorado, Pennsylvania, Delaware, New Mexico, Rhode Island
# ,Minnesota, Virgin Islands, New Hampshire, Massachusetts, Georgia
# ,North Dakota, Virginia
# """
# #list of regionName entries string length
# regNmLenStr = """
# 06,08,12,10,10,04,10,08,09,09,05,06,11,06,12,09,08,10,12,06,
# 06,06,08,05,09,06,05,06,10,28,06,06,09,06,08,09,10,35,09,15,
# 13,10,07,21,08,07,07,07,12,06,14,07,08,16,09,10,11,09,10,06,
# 11,05,06,09,10,12,06,06,11,07,08,13,07,11,05,06,06,07,10,08,
# 11,08,13,12,06,04,08,10,08,07,12,05,06,09,07,10,16,10,06,12,
# 08,07,06,06,06,11,14,11,07,06,06,12,08,10,11,06,10,14,04,11,
# 18,07,07,08,09,06,13,11,12,10,07,12,07,04,08,09,09,13,08,10,
# 16,09,10,08,06,08,12,07,11,09,07,09,06,12,06,09,07,10,09,10,
# 09,06,15,05,10,09,11,12,10,10,09,13,06,09,11,06,11,09,13,37,
# 06,13,06,09,49,07,11,12,09,11,11,07,12,10,06,06,09,04,09,15,
# 10,12,05,09,08,09,09,07,14,06,07,16,12,09,07,09,06,32,07,08,
# 08,06,10,36,09,10,09,06,09,11,09,06,10,07,14,08,07,06,10,09,
# 05,11,07,06,08,07,05,07,07,04,06,05,09,04,25,06,07,08,05,08,
# 06,05,11,09,07,07,06,13,09,05,16,05,10,09,08,11,06,06,06,10,
# 09,07,06,07,10,05,08,07,06,08,06,30,09,07,06,11,07,12,08,09,
# 16,12,11,08,06,04,10,10,15,05,11,11,09,08,06,04,10,10,07,09,
# 11,08,26,07,13,05,11,03,08,07,06,05,08,13,10,08,08,08,07,07,
# 09,05,04,11,11,07,06,10,11,03,04,06,06,08,08,06,10,09,05,11,
# 07,09,06,12,13,09,10,11,08,07,07,08,09,10,08,10,08,56,07,12,
# 07,16,08,04,10,10,10,10,07,09,08,09,09,10,07,09,09,09,12,14,
# 10,29,19,07,11,12,13,13,09,10,12,12,12,08,10,07,10,07,07,08,
# 08,08,09,10,09,11,09,07,09,10,11,11,10,09,09,12,09,06,08,07,
# 12,09,07,07,06,06,08,06,15,08,06,06,10,10,10,07,05,10,07,11,
# 09,12,10,12,04,10,05,05,04,14,07,10,09,07,11,10,10,10,11,15,
# 09,14,12,09,09,07,12,04,10,10,06,10,07,28,06,10,08,09,10,10,
# 10,13,12,08,10,09,09,07,09,09,07,11,11,13,08,10,07
# """

# df = get_list_of_university_towns()

# cols = ["State", "RegionName"]

# print('Shape test: ', "Passed" if df.shape ==
#       (517, 2) else 'Failed')
# print('Index test: ',
#       "Passed" if df.index.tolist() == list(range(517))
#       else 'Failed')

# print('Column test: ',
#       "Passed" if df.columns.tolist() == cols else 'Failed')
# print('\\n test: ',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\n')) or any(df[cols[1]].str.contains('\n'))
#       else 'Passed')
# print('Trailing whitespace test:',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\s+$')) or any(df[cols[1]].str.contains(
#               '\s+$'))
#       else 'Passed')
# print('"(" test:',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\(')) or any(df[cols[1]].str.contains(
#               '\('))
#       else 'Passed')
# print('"[" test:',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\[')) or any(df[cols[1]].str.contains(
#               '\]'))
#       else 'Passed')

# states_vlist = [st.strip() for st in stateStr.split(',')]

# mismatchedStates = df[~df['State'].isin(
#     states_vlist)].loc[:, 'State'].unique()
# print('State test: ', "Passed" if len(
#     mismatchedStates) == 0 else "Failed")
# if len(mismatchedStates) > 0:
#     print()
#     print('The following states failed the equality test:')
#     print()
#     print('\n'.join(mismatchedStates))

# df['expected_length'] = [int(s.strip())
#                          for s in regNmLenStr.split(',')
#                          if s.strip().isdigit()]
# regDiff = df[df['RegionName'].str.len() != df['expected_length']].loc[
#     :, ['RegionName', 'expected_length']]
# regDiff['actual_length'] = regDiff['RegionName'].str.len()
# print('RegionName test: ', "Passed" if len(regDiff) ==
#       0 else ' \nMismatching regionNames\n {}'.format(regDiff))

In [4]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls', skiprows=5)[['Unnamed: 4', 'GDP in billions of chained 2009 dollars.1']][2:]
    df = df.rename(columns={'Unnamed: 4': 'Quarters', 'GDP in billions of chained 2009 dollars.1': 'GDP(billions)'})
    df = df.set_index('Quarters')
    df = df.drop(df.loc[:'1999q4'].index, axis=0)
    for i in range(2, len(df.index)-2):
        cond = df.iloc[i-2][0] > df.iloc[i-1][0] and df.iloc[i-1][0] > df.iloc[i][0] and df.iloc[i][0] < df.iloc[i+1][0] and df.iloc[i+1][0] < df.iloc[i+2][0]
        if cond:
            j = i-1
            while True:
                if df.iloc[j][0] < df.iloc[j+1][0]:
                    return df.iloc[j+2].name
                j -= 1
# get_recession_start()

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls', skiprows=5)[['Unnamed: 4', 'GDP in billions of chained 2009 dollars.1']][2:]
    df = df.rename(columns={'Unnamed: 4': 'Quarters', 'GDP in billions of chained 2009 dollars.1': 'GDP(billions)'})
    df = df.set_index('Quarters')
    df = df.drop(df.loc[:'1999q4'].index, axis=0)
    for i in range(2, len(df.index)-2):
        cond = df.iloc[i-2][0] > df.iloc[i-1][0] and df.iloc[i-1][0] > df.iloc[i][0] and df.iloc[i][0] < df.iloc[i+1][0] and df.iloc[i+1][0] < df.iloc[i+2][0]
        if cond:
            return df.iloc[i+2].name
# get_recession_end()

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls', skiprows=5)[['Unnamed: 4', 'GDP in billions of chained 2009 dollars.1']][2:]
    df = df.rename(columns={'Unnamed: 4': 'Quarters', 'GDP in billions of chained 2009 dollars.1': 'GDP(billions)'})
    df = df.set_index('Quarters')
    df = df.drop(df.loc[:'1999q4'].index, axis=0)
    for i in range(2, len(df.index)-2):
        cond = df.iloc[i-2][0] > df.iloc[i-1][0] and df.iloc[i-1][0] > df.iloc[i][0] and df.iloc[i][0] < df.iloc[i+1][0] and df.iloc[i+1][0] < df.iloc[i+2][0]
        if cond:
            return df.iloc[i].name
# get_recession_bottom()

In [7]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    df = pd.read_csv('City_Zhvi_AllHomes.csv')
    df = df.set_index(['State', 'RegionName'])
    df = df.rename(index=states)
    to_drop = ['199{}-{:02}'.format(n, m) for n in range(6, 10) for m in range(1, 13)][3:]
    df = df.drop(to_drop+['RegionID', 'Metro', 'CountyName', 'SizeRank'], axis=1)
    for y in range(17):
        for q in range(1, 5):
            if not (y == 16 and q >= 3):
                df['20{:02}q{}'.format(y, q)] = df[['20{:02}-{:02}'.format(y, m) for m in range(-2+3*q, 3*q+1)]].mean(axis=1)
            elif y == 16 and q == 3:
                df['20{:02}q{}'.format(y, q)] = df[['20{:02}-{:02}'.format(y, m) for m in range(-2+3*q, 3*q)]].mean(axis=1)
    to_drop = ['20{:02}-{:02}'.format(n, m) for n in range(17) for m in range(1, 13)][:-4]
    df = df.drop(to_drop, axis=1)
    
    
    return df
# convert_housing_data_to_quarters().loc[[('Ohio','Akron'),('Ohio','Dayton')]].loc[:,['2010q3','2015q2','2016q4']]

In [12]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    univ = get_list_of_university_towns()['RegionName']
    start = get_recession_start()
    before = start[:-1] + str(int(start[-1])-1) if not start[-1] == '1' else '20{:02}q4'.format(int(start[2:4])-1)
    bottom = get_recession_bottom()
    house = convert_housing_data_to_quarters().loc[:, before:bottom].dropna()
    house_us = house.drop(univ.values, level='RegionName', axis=0)
    house_univ = house.drop(house_us.index.get_level_values(level='RegionName'), level='RegionName', axis=0)
    del house, univ
    house_us['PriceRatio'] = house_us[before]/house_us[bottom]
    house_univ['PriceRatio'] = house_univ[before]/house_univ[bottom]
#     print(house_univ)
#     print(house_us)
    test = ttest_ind(house_us['PriceRatio'], house_univ['PriceRatio'])
#     print(test)
    different = True if test.pvalue < 0.01 else False
    better = 'university town' if house_univ['PriceRatio'].mean() < house_us['PriceRatio'].mean() else 'non-university town'
    
    return (different, test.pvalue, better)
# run_ttest()

                                    2008q2         2008q3         2008q4  \
State          RegionName
Nevada         Las Vegas     232300.000000  213366.666667  194933.333333
California     San Diego     441400.000000  424666.666667  407633.333333
Texas          Dallas        115366.666667  112166.666667  109900.000000
Florida        Jacksonville  160433.333333  154733.333333  149166.666667
Texas          Austin        213733.333333  211033.333333  207466.666667
Ohio           Columbus      113500.000000  112200.000000  111600.000000
Tennessee      Memphis        84400.000000   83700.000000   80900.000000
Massachusetts  Boston        347966.666667  347333.333333  341133.333333
Tennessee      Nashville     154600.000000  154333.333333  154200.000000
Wisconsin      Milwaukee     131233.333333  127900.000000  124500.000000
Arizona        Tucson        180600.000000  175766.666667  172133.333333
California     Sacramento    250300.000000  233266.666667  217366.666667
Georgia        Atlanta       183066.666667  177466.666667  170566.666667
Oklahoma       Tulsa          92433.333333   92833.333333   92400.000000
Ohio           Cleveland      73300.000000   71200.000000   69800.000000
Florida        Tampa         165500.000000  156400.000000  148066.666667
Colorado       Aurora        165466.666667  160333.333333  154433.333333
California     Riverside     343666.666667  325500.000000  299133.333333
Kentucky       Lexington     139566.666667  141700.000000  139633.333333
New Jersey     Newark        293333.333333  281800.000000  273733.333333
Florida        Tallahassee   180566.666667  179166.666667  175366.666667
Kentucky       Louisville     98033.333333   98433.333333   97733.333333
Nevada         Henderson     276366.666667  259366.666667  242333.333333
Texas          Lubbock        93866.666667   93633.333333   96500.000000
North Carolina Durham        160833.333333  161766.666667  160366.666667
Florida        Orlando       181733.333333  168566.666667  154166.666667
North Carolina Greensboro    125900.000000  125900.000000  125366.666667
Nebraska       Lincoln       129200.000000  127966.666667  127733.333333
Virginia       Chesapeake    258266.666667  253300.000000  250666.666667
Wisconsin      Madison       194466.666667  194400.000000  194233.333333
...                                    ...            ...            ...
Ohio           Oberlin       131133.333333  126433.333333  126433.333333
Oregon         Monroe        215633.333333  211866.666667  210800.000000
Michigan       Athens         89633.333333   86966.666667   86600.000000
New Jersey     Olivet        261100.000000  250733.333333  238300.000000
Virginia       Boston        253566.666667  248666.666667  246000.000000
Nebraska       Springfield   116266.666667  113500.000000  111700.000000
Arkansas       Mount Vernon   88833.333333   87433.333333   86200.000000
Indiana        Memphis       127833.333333  130933.333333  134400.000000
               Williamsport   82433.333333   79100.000000   75766.666667
Texas          Keene          97600.000000   98900.000000   97566.666667
Oklahoma       Chattanooga    60333.333333   62833.333333   65566.666667
New York       Clinton       168333.333333  163966.666667  163933.333333
Texas          Reno           96300.000000   95233.333333   94300.000000
Alabama        Mount Olive   142066.666667  138766.666667  136166.666667
North Carolina Glenville     442733.333333  429300.000000  410933.333333
Illinois       Cambridge      87900.000000   87433.333333   91000.000000
Georgia        Hiram         125966.666667  120833.333333  113666.666667
Michigan       Augusta       159966.666667  162466.666667  154066.666667
Wisconsin      Cleveland     130400.000000  131766.666667  129000.000000
               Marshall      179400.000000  180266.666667  180433.333333
Washington     Ruston        303433.333333  292933.333333  280100.000000
California     Annapolis     654033.333333  660666.666667  649866.666667
Illinois       Hillsdale      77666.666667   78333.333333   80233.333333
Colorado       Georgetown    210266.666667  202266.666667  189400.000000
Alabama        Mount Vernon   85333.333333   84733.333333   84266.666667
Wisconsin      Cambridge     165366.666667  164233.333333  165366.666667
Arkansas       Huntington    100133.333333   96100.000000   95466.666667
Maryland       Oxford        625133.333333  627633.333333  628900.000000
Virginia       Greenville    198933.333333  198466.666667  198300.000000
Georgia        Midland       242966.666667  241466.666667  238700.000000

                                    2009q1         2009q2  PriceRatio
State          RegionName
Nevada         Las Vegas     181200.000000  164333.333333    1.413590
California     San Diego     395700.000000  389500.000000    1.133248
Texas          Dallas        107666.666667  105100.000000    1.097685
Florida        Jacksonville  145266.666667  140833.333333    1.139172
Texas          Austin        207000.000000  204000.000000    1.047712
Ohio           Columbus      110966.666667  109766.666667    1.034012
Tennessee      Memphis        77966.666667   76000.000000    1.110526
Massachusetts  Boston        328633.333333  325200.000000    1.070008
Tennessee      Nashville     152400.000000  150133.333333    1.029751
Wisconsin      Milwaukee     120600.000000  116733.333333    1.124215
Arizona        Tucson        168866.666667  164366.666667    1.098763
California     Sacramento    208833.333333  199800.000000    1.252753
Georgia        Atlanta       165200.000000  160166.666667    1.142976
Oklahoma       Tulsa          92100.000000   91500.000000    1.010200
Ohio           Cleveland      68366.666667   66466.666667    1.102808
Florida        Tampa         142833.333333  135300.000000    1.223208
Colorado       Aurora        151033.333333  149000.000000    1.110515
California     Riverside     264200.000000  236466.666667    1.453341
Kentucky       Lexington     138933.333333  139866.666667    0.997855
New Jersey     Newark        266466.666667  257233.333333    1.140340
Florida        Tallahassee   172366.666667  169700.000000    1.064035
Kentucky       Louisville     97500.000000   97033.333333    1.010306
Nevada         Henderson     227466.666667  210533.333333    1.312698
Texas          Lubbock       100766.666667  104900.000000    0.894820
North Carolina Durham        158300.000000  157166.666667    1.023330
Florida        Orlando       150133.333333  144200.000000    1.260287
North Carolina Greensboro    122066.666667  119633.333333    1.052382
Nebraska       Lincoln       127066.666667  126433.333333    1.021882
Virginia       Chesapeake    246600.000000  243000.000000    1.062826
Wisconsin      Madison       193133.333333  191433.333333    1.015845
...                                    ...            ...         ...
Ohio           Oberlin       125900.000000  125100.000000    1.048228
Oregon         Monroe        214666.666667  216033.333333    0.998148
Michigan       Athens         87400.000000   86900.000000    1.031454
New Jersey     Olivet        229066.666667  222300.000000    1.174539
Virginia       Boston        247966.666667  249133.333333    1.017795
Nebraska       Springfield   112033.333333  113533.333333    1.024075
Arkansas       Mount Vernon   89366.666667   92800.000000    0.957256
Indiana        Memphis       133766.666667  130766.666667    0.977568
               Williamsport   73933.333333   70966.666667    1.161578
Texas          Keene          96400.000000   95900.000000    1.017727
Oklahoma       Chattanooga    66533.333333   66366.666667    0.909091
New York       Clinton       161400.000000  163566.666667    1.029142
Texas          Reno           96333.333333   97833.333333    0.984327
Alabama        Mount Olive   135666.666667  132800.000000    1.069779
North Carolina Glenville     376400.000000  358833.333333    1.233813
Illinois       Cambridge      92433.333333   94566.666667    0.929503
Georgia        Hiram         108400.000000  104633.333333    1.203887
Michigan       Augusta       150433.333333  149866.666667    1.067393
Wisconsin      Cleveland     126566.666667  124133.333333    1.050483
               Marshall      174433.333333  170433.333333    1.052611
Washington     Ruston        275100.000000  271866.666667    1.116111
California     Annapolis     680500.000000  687233.333333    0.951690
Illinois       Hillsdale      80266.666667   81433.333333    0.953745
Colorado       Georgetown    188333.333333  190500.000000    1.103762
Alabama        Mount Vernon   79866.666667   76933.333333    1.109185
Wisconsin      Cambridge     165033.333333  163533.333333    1.011211
Arkansas       Huntington     97800.000000   98666.666667    1.014865
Maryland       Oxford        603133.333333  603800.000000    1.035332
Virginia       Greenville    199400.000000  197866.666667    1.005391
Georgia        Midland       236900.000000  236833.333333    1.025897

[808 rows x 6 columns]
                                                2008q2        2008q3  \
State                RegionName
New York             New York             5.039333e+05  4.997667e+05
California           Los Angeles          5.022667e+05  4.695000e+05
Illinois             Chicago              2.379000e+05  2.320000e+05
Pennsylvania         Philadelphia         1.181333e+05  1.169333e+05
Arizona              Phoenix              2.052667e+05  1.937667e+05
California           San Jose             6.117333e+05  5.831333e+05
                     San Francisco        7.836333e+05  7.543667e+05
Michigan             Detroit              6.863333e+04  6.596667e+04
North Carolina       Charlotte            1.596000e+05  1.587000e+05
Texas                El Paso              1.177667e+05  1.160667e+05
Washington           Seattle              4.455667e+05  4.347333e+05
Maryland             Baltimore            1.272000e+05  1.252667e+05
Colorado             Denver               2.200000e+05  2.209000e+05
District of Columbia Washington           3.766333e+05  3.693333e+05
Oregon               Portland             2.856000e+05  2.816333e+05
Oklahoma             Oklahoma City        1.092333e+05  1.092000e+05
Nebraska             Omaha                1.283333e+05  1.294000e+05
New Mexico           Albuquerque          1.947333e+05  1.935667e+05
California           Fresno               2.141000e+05  1.997000e+05
Arizona              Mesa                 2.009667e+05  1.915667e+05
California           Long Beach           4.518333e+05  4.263000e+05
Missouri             Kansas City          1.550333e+05  1.516333e+05
Virginia             Virginia Beach       2.681000e+05  2.638333e+05
Colorado             Colorado Springs     1.967333e+05  1.957667e+05
Florida              Miami                3.175000e+05  2.959000e+05
California           Oakland              4.505667e+05  4.245333e+05
Hawaii               Honolulu             5.428000e+05  5.392000e+05
Minnesota            Minneapolis          2.016000e+05  1.976000e+05
Texas                Arlington            1.279667e+05  1.250333e+05
North Carolina       Raleigh              1.870000e+05  1.874000e+05
...                                                ...           ...
Arkansas             Lavaca               1.111333e+05  1.091333e+05
Illinois             Maple Park           2.296333e+05  2.266333e+05
New Jersey           Mays Landing         1.991333e+05  1.952333e+05
Maryland             Sabillasville        2.356667e+05  2.261000e+05
Minnesota            Saint Bonifacius     2.322667e+05  2.290333e+05
Oregon               Bonanza              1.503333e+05  1.407000e+05
Maryland             Piney Point          3.674000e+05  3.591333e+05
Idaho                Middleton            1.833333e+05  1.764000e+05
Colorado             Bennett              1.485000e+05  1.477667e+05
New Hampshire        East Hampstead       2.674333e+05  2.611333e+05
Arkansas             Mountainburg         8.413333e+04  8.313333e+04
Wisconsin            Oostburg             1.491667e+05  1.474000e+05
California           Twin Peaks           2.324667e+05  2.127000e+05
New York             Upper Brookville     2.259433e+06  2.207300e+06
Hawaii               Volcano              2.512333e+05  2.378333e+05
Michigan             Williamston          1.853333e+05  1.806667e+05
Arkansas             Decatur              9.123333e+04  9.066667e+04
Tennessee            Briceville           5.693333e+04  5.396667e+04
Indiana              Edgewood             9.790000e+04  9.993333e+04
Maryland             Saint Inigoes        3.305000e+05  3.229000e+05
California           Forest Falls         2.046667e+05  1.872333e+05
Missouri             Bois D Arc           1.204000e+05  1.205333e+05
Virginia             Henrico              2.252000e+05  2.228333e+05
New Jersey           Diamond Beach        4.649667e+05  4.638667e+05
Tennessee            Gruetli Laager       4.936667e+04  5.100000e+04
Wisconsin            Town of Wrightstown  1.499667e+05  1.496333e+05
New York             Urbana               1.159000e+05  1.179000e+05
Wisconsin            New Denmark          1.734667e+05  1.755000e+05
California           Angels               3.280333e+05  2.966667e+05
Wisconsin            Holland              2.251000e+05  2.242000e+05

                                                2008q4        2009q1  \
State                RegionName
New York             New York             4.879333e+05  4.777333e+05
California           Los Angeles          4.439667e+05  4.262667e+05
Illinois             Chicago              2.270333e+05  2.237667e+05
Pennsylvania         Philadelphia         1.158667e+05  1.162000e+05
Arizona              Phoenix              1.833333e+05  1.775667e+05
California           San Jose             5.601000e+05  5.481667e+05
                     San Francisco        7.403667e+05  7.182333e+05
Michigan             Detroit              6.380000e+04  6.173333e+04
North Carolina       Charlotte            1.558000e+05  1.524333e+05
Texas                El Paso              1.163000e+05  1.177000e+05
Washington           Seattle              4.239000e+05  4.096000e+05
Maryland             Baltimore            1.242667e+05  1.241333e+05
Colorado             Denver               2.167333e+05  2.118000e+05
District of Columbia Washington           3.620000e+05  3.550333e+05
Oregon               Portland             2.776333e+05  2.793000e+05
Oklahoma             Oklahoma City        1.093667e+05  1.078333e+05
Nebraska             Omaha                1.307667e+05  1.276667e+05
New Mexico           Albuquerque          1.943000e+05  1.954000e+05
California           Fresno               1.852667e+05  1.784333e+05
Arizona              Mesa                 1.807667e+05  1.750333e+05
California           Long Beach           4.098333e+05  3.975000e+05
Missouri             Kansas City          1.426000e+05  1.350667e+05
Virginia             Virginia Beach       2.587000e+05  2.521000e+05
Colorado             Colorado Springs     1.929333e+05  1.859333e+05
Florida              Miami                2.697333e+05  2.492000e+05
California           Oakland              3.995000e+05  3.900000e+05
Hawaii               Honolulu             5.275333e+05  5.171333e+05
Minnesota            Minneapolis          1.933000e+05  1.872667e+05
Texas                Arlington            1.234333e+05  1.215333e+05
North Carolina       Raleigh              1.860333e+05  1.826333e+05
...                                                ...           ...
Arkansas             Lavaca               1.079333e+05  1.043667e+05
Illinois             Maple Park           2.221000e+05  2.214667e+05
New Jersey           Mays Landing         1.872333e+05  1.871667e+05
Maryland             Sabillasville        2.244333e+05  2.268667e+05
Minnesota            Saint Bonifacius     2.273667e+05  2.210000e+05
Oregon               Bonanza              1.398333e+05  1.459333e+05
Maryland             Piney Point          3.430333e+05  3.415000e+05
Idaho                Middleton            1.722000e+05  1.673667e+05
Colorado             Bennett              1.464000e+05  1.444333e+05
New Hampshire        East Hampstead       2.550000e+05  2.498333e+05
Arkansas             Mountainburg         8.243333e+04  8.590000e+04
Wisconsin            Oostburg             1.447333e+05  1.429333e+05
California           Twin Peaks           2.052000e+05  2.041000e+05
New York             Upper Brookville     2.179200e+06  2.146367e+06
Hawaii               Volcano              2.234667e+05  2.148667e+05
Michigan             Williamston          1.714667e+05  1.656333e+05
Arkansas             Decatur              8.966667e+04  9.270000e+04
Tennessee            Briceville           5.333333e+04  5.410000e+04
Indiana              Edgewood             1.027000e+05  1.047333e+05
Maryland             Saint Inigoes        3.118333e+05  3.072667e+05
California           Forest Falls         1.804000e+05  1.866667e+05
Missouri             Bois D Arc           1.246667e+05  1.306667e+05
Virginia             Henrico              2.197667e+05  2.165333e+05
New Jersey           Diamond Beach        4.657333e+05  4.425000e+05
Tennessee            Gruetli Laager       5.576667e+04  6.236667e+04
Wisconsin            Town of Wrightstown  1.494333e+05  1.465667e+05
New York             Urbana               1.223000e+05  1.232000e+05
Wisconsin            New Denmark          1.776000e+05  1.773333e+05
California           Angels               2.823333e+05  2.875333e+05
Wisconsin            Holland              2.249000e+05  2.093333e+05

                                                2009q2  PriceRatio
State                RegionName
New York             New York             4.658333e+05    1.081789
California           Los Angeles          4.139000e+05    1.213498
Illinois             Chicago              2.197000e+05    1.082840
Pennsylvania         Philadelphia         1.161667e+05    1.016930
Arizona              Phoenix              1.682333e+05    1.220131
California           San Jose             5.303000e+05    1.153561
                     San Francisco        6.950000e+05    1.127530
Michigan             Detroit              6.010000e+04    1.141986
North Carolina       Charlotte            1.498333e+05    1.065184
Texas                El Paso              1.187000e+05    0.992137
Washington           Seattle              3.938667e+05    1.131263
Maryland             Baltimore            1.232333e+05    1.032188
Colorado             Denver               2.094333e+05    1.050454
District of Columbia Washington           3.494000e+05    1.077943
Oregon               Portland             2.747333e+05    1.039554
Oklahoma             Oklahoma City        1.071000e+05    1.019919
Nebraska             Omaha                1.262000e+05    1.016904
New Mexico           Albuquerque          1.953667e+05    0.996758
California           Fresno               1.693333e+05    1.264370
Arizona              Mesa                 1.670000e+05    1.203393
California           Long Beach           3.876667e+05    1.165520
Missouri             Kansas City          1.253333e+05    1.236968
Virginia             Virginia Beach       2.487333e+05    1.077861
Colorado             Colorado Springs     1.832333e+05    1.073677
Florida              Miami                2.267667e+05    1.400118
California           Oakland              3.758333e+05    1.198847
Hawaii               Honolulu             5.037000e+05    1.077626
Minnesota            Minneapolis          1.835333e+05    1.098438
Texas                Arlington            1.197667e+05    1.068466
North Carolina       Raleigh              1.806000e+05    1.035437
...                                                ...         ...
Arkansas             Lavaca               1.036667e+05    1.072026
Illinois             Maple Park           2.172000e+05    1.057244
New Jersey           Mays Landing         1.852000e+05    1.075234

(True, 6.7550789357461301e-05, 'university town')